<div class="row">
    <form class="col s12 m6">
        <div class="row">
        <div class="input-field col s12">
          <input id="email" type="text" ng-model="newUser.email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" ng-model="newUser.password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
        
      <button class="btn waves-effect waves-light" type="submit" ng-click="createUser()" name="action">Submit</button>
    </form>
  </div>
        